@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@using MatBlazor


<MatAppBarContainer Class="mat app-bar-container">
  <MatAppBar Class="app-bar" Fixed="true">
    <MatAppBarRow>
      <MatAppBarSection Class="app-bar-section">
        <MatButton Class="@styles["runes"]" Unelevated="true" @onclick="@(_ => setActive("runes"))" >Runes
        </MatButton>
        <MatButton Class="@styles["runewords"]" Unelevated="true" @onclick="@(_ => setActive("runewords"))">Runewords
        </MatButton>
        <MatButton Class="@styles["itemclasses"]" Unelevated="true" @onclick="@(_ => setActive("itemclasses"))" >Item
          classes</MatButton>
        <MatButton Class="@styles["personclasses"]" Unelevated="true" @onclick="@(_ => setActive("personclasses"))">
          Person classes</MatButton>
      </MatAppBarSection>
    </MatAppBarRow>
  </MatAppBar>

  <MatAppBarContent Class="app-bar-content mat-elevation-z10">
    @Body
  </MatAppBarContent>
</MatAppBarContainer>

@code {
  static string activeButtonStyle = "app-bar-item mdc-button__ripple active-mat-button";
  static string inactiveButtonStyle = "app-bar-item mdc-button__ripple";

  void setActive(string buttonName)
  {
    foreach (var s in styles)
      styles[s.Key] = inactiveButtonStyle;

    styles[buttonName] = activeButtonStyle;

    NavigationManager.NavigateTo(buttonName);
  }
  #nullable enable
  Dictionary<string, string?> styles = new()
  {
    ["runes"] = activeButtonStyle,
    ["runewords"] = inactiveButtonStyle,
    ["itemclasses"] = inactiveButtonStyle,
    ["personclasses"] = inactiveButtonStyle,
  };
  #nullable disable
}
