:root {
  --app-bar-height: 60px;
  --mdc-shape-small: 0;
}

html, body {
  margin: 0px;
}

.content-wrapper {
  display: flex;
}

.content-wrapper>* {
  margin: 2px;
}

.content-wrapper>.filter {
  flex-grow: 0;
  width: 300px;
}

.content-wrapper>.filter>* {
  width: 100%;
}

.content-wrapper>.filtered-content {
  flex-grow: 1;
  top: 0;
}

.sticky-under-app-bar-8px {
  align-self: flex-start;
  position: sticky;
  top: calc(var(--app-bar-height) + 8px);
}

.app-bar {
  padding: 0px;
  height: var(--app-bar-height);
}

.app-bar-section {
  padding: 0px;
}

.app-bar-item {
  height: 100%;
}

.app-bar-item>* {
  border-radius: 0;
}

.app-bar-content {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  padding-left: 5px;
  padding-right: 5px;
}

.active-mat-button>div {
  background-color: #e9c9c97a;
}