﻿@page "/runes"
@inject HttpClient Http
@inject Storage Storage

@if (filtered == null)
{
<MatSubtitle1>Loading...</MatSubtitle1>
}
else
{
  <div class="content-wrapper">
    <MatTable Items="@filtered" ShowPaging=false PageSize="@runeNames.Length" class="filtered-content">
      <MatTableHeader>
        <th>Name</th>
        <th>Level</th>
        <th>Description</th>
      </MatTableHeader>
      <MatTableRow>
        <td>@context.Name</td>
        <td>@context.Level</td>
        <td>@context.Description</td>
      </MatTableRow>
    </MatTable>

    <MatNavMenu class="filter sticky-under-app-bar-8px">

      <EditForm Model="filter">
        <MatAutocompleteList ShowClearButton="true" Label="Name" TItem="string" Value="@filter.Name" OnTextChanged="e => filter.Name = e"
          Items="@runeNames" FullWidth=true>
        </MatAutocompleteList>

        <MatNumericUpDownField TValue="int" Label="Level from" @bind-Value="filter.LevelFrom" HideClearButton=true
          Maximum=255 Minimum=2>
        </MatNumericUpDownField>

        <MatNumericUpDownField TValue="int" Label="Level to" @bind-Value="filter.LevelTo" Maximum=255 Minimum=2>
        </MatNumericUpDownField>
      </EditForm>

    </MatNavMenu>
  </div>
}

@code {
  int test { get; set; }

  protected override async Task OnInitializedAsync()
  {
    var runes = Storage.GetRunes();

    filtered = runes.Where(r =>
    {
      return r.Name.ToLower().Contains(filter.Name.ToLower())
        && filter.LevelFrom <= r.Level && filter.LevelTo >= r.Level;
    });

    runeNames = runes.Select(r => r.Name).ToArray();
  }

  string[] runeNames;
  IEnumerable<Zyel.Data.Rune> filtered;
  Filter filter = new Filter { Name = "", LevelFrom = 2, LevelTo = 255 };
  class Filter
  {
    public string Name;
    public int LevelFrom;
    public int LevelTo;
  }

  static class DelayedCall
  {
    public static (Action, IDisposable) CreateDisposable(double delay, Action action)
    {
      var tm = new System.Timers.Timer(delay);
      tm.Elapsed += (sender, e) => { action(); };

      return (() =>
      {
        tm.Interval = delay;
        tm.Start();
      }, tm);
    }

    public static Action Create(double delay, Action action)
      => CreateDisposable(delay, action).Item1;
  }

}