@page "/runewords"
@inject HttpClient Http
@inject Storage Storage
@using Microsoft.AspNetCore.Components.Web.Virtualization;

<div class="content-wrapper">
  <MatAccordion Style="width:100%;">
    @foreach(var context in filtered)
    {
      <MatExpansionPanel>
        <MatExpansionPanelSummary>
          <MatExpansionPanelHeader>
            <span>@context.Name</span>
          </MatExpansionPanelHeader>
          <MatExpansionPanelSubHeader>@context.Level 
          </MatExpansionPanelSubHeader><MatExpansionPanelSubHeader>@string.Join(",", context.PersonClasses.Select(pc => pc.ShortName))
          </MatExpansionPanelSubHeader><MatExpansionPanelSubHeader>@string.Join(",", context.ItemClasses.Select(ic => ic.ShortName)) 
          </MatExpansionPanelSubHeader><MatExpansionPanelSubHeader>@string.Join("-", context.Runes.Select(r => r.Name))
          </MatExpansionPanelSubHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>
          <MatList TwoLine="true">
            <MatListItem>
              @context.Name
            </MatListItem>
 
            <MatListItem>
                <MatListItemText>
                    <MatListItemPrimaryText>Level</MatListItemPrimaryText>
                    <MatListItemSecondaryText>@context.Level</MatListItemSecondaryText>
                </MatListItemText>
            </MatListItem>
            
            <MatListItem>
                <MatListItemText>
                    <MatListItemPrimaryText>Runes</MatListItemPrimaryText>
                    <MatListItemSecondaryText>@string.Join("-", context.Runes.Select(r => r.Name))</MatListItemSecondaryText>
                </MatListItemText>
            </MatListItem>
 
            <MatListItem>
                <MatListItemText>
                    <MatListItemPrimaryText>Person classes</MatListItemPrimaryText>
                    <MatListItemSecondaryText>@string.Join(", ", context.PersonClasses.Select(pc => pc.Name))</MatListItemSecondaryText>
                </MatListItemText>
            </MatListItem>

            <MatListItem>
                <MatListItemText>
                    <MatListItemPrimaryText>Item classes</MatListItemPrimaryText>
                    <MatListItemSecondaryText>@string.Join(", ", context.ItemClasses.Select(ic => ic.Name))</MatListItemSecondaryText>
                </MatListItemText>
            </MatListItem>
          </MatList>
        </MatExpansionPanelDetails>
      </MatExpansionPanel>
    }
  </MatAccordion>

  <MatNavMenu class="filter sticky-under-app-bar-8px">
    <EditForm Model="filter">

      <MatAccordion Multi="true">
        <MatAutocompleteList ShowClearButton="true" Label="Name" TItem="string" Value="@filter.Name" OnTextChanged="e => filter.Name = e"
          Items="@runewordNames" FullWidth=true>
        </MatAutocompleteList>

        <MatNumericUpDownField TValue="int" Label="Level from" @bind-Value="filter.LevelFrom" Maximum=255 Minimum=2 FullWidth=true>
        </MatNumericUpDownField>

        <MatNumericUpDownField TValue="int" Label="Level to" @bind-Value="filter.LevelTo" Maximum=255 Minimum=2 FullWidth=true>
        </MatNumericUpDownField>
        
        <MatExpansionPanel>
          <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Runes</MatExpansionPanelHeader>
          </MatExpansionPanelSummary>

          <MatExpansionPanelDetails Style="padding:0; max-height: 500px;overflow:scroll;">
            @foreach (var runeItem in filter.Runes)
            {
              <div>
                <MatCheckbox Style="margin: 0;" @bind-Value="@runeItem.Checked">@runeItem.Value</MatCheckbox>
              </div>
            }
          </MatExpansionPanelDetails>
        </MatExpansionPanel>
        
        <MatExpansionPanel>
          <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Item classes</MatExpansionPanelHeader>
          </MatExpansionPanelSummary>
          
          <MatExpansionPanelDetails Style="padding:0; max-height: 500px;overflow:scroll;">
            @foreach (var itemClass in filter.ItemClasses)
            {
              <div>
                <MatCheckbox Style="margin: 0;" @bind-Value="@itemClass.Checked">@itemClass.Value</MatCheckbox>
              </div>
            }
          </MatExpansionPanelDetails>
        </MatExpansionPanel>

        <MatExpansionPanel>
          <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Person classes</MatExpansionPanelHeader>
          </MatExpansionPanelSummary>

          <MatExpansionPanelDetails Style="padding:0; max-height: 500px;overflow:scroll;">
            @foreach (var personClass in filter.PersonClasses)
            {
              <div>
                <MatCheckbox Style="margin: 0;" @bind-Value="@personClass.Checked">@personClass.Value</MatCheckbox>
              </div>
            }
          </MatExpansionPanelDetails>
        </MatExpansionPanel>

        <MatExpansionPanel>
          <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Sockets count</MatExpansionPanelHeader>
          </MatExpansionPanelSummary>

          <MatExpansionPanelDetails Style="padding:0; max-height: 500px;overflow:scroll;">
            @foreach (var socketsCount in filter.SocketCount)
            {
              <div>
                <MatCheckbox Style="margin: 0;" @bind-Value="@socketsCount.Checked">@socketsCount.Value</MatCheckbox>
              </div>
            }
          </MatExpansionPanelDetails>
        </MatExpansionPanel>
      </MatAccordion>

      <MatButton OnClick="@printFilter">Log filter</MatButton>
    </EditForm>
  </MatNavMenu>
</div>

@code {
  MatAccordion accordion;

  protected override async Task OnInitializedAsync()
  {
    runewords = Storage.GetRunewords().ToArray();
    filtered = runewords.Where(filterFunc).Take(50).OrderBy(rw => rw.Level);

    runewordNames = runewords.Select(r => r.Name).ToArray();
    filter.Runes = Storage.GetRunes().Select(r => new FilterCheckedItem<string> { Checked = false, Value = r.Name }).ToArray();
    filter.PersonClasses = Storage.GetPersonClasses().Select(pc => new FilterCheckedItem<string> { Checked = false, Value = pc.Name }).ToArray();
    filter.ItemClasses = Storage.GetItemClasses().Select(ic => new FilterCheckedItem<string> { Checked = false, Value = ic.Name }).ToArray();
    filter.SocketCount = Enumerable.Range(1,6).Select(sc => new FilterCheckedItem<int>{Checked = false, Value = sc}).ToArray();
  }

  string[] runewordNames = new string[0];
  Runeword[] runewords = new Runeword[0];

  IEnumerable<Runeword> filtered;

  Filter filter = new();

  bool filterFunc(Runeword rw) {
    if (filter.Name is not null && filter.Name.Length > 0)
      if (!rw.Name.Contains(filter.Name))
        return false;

    if (rw.Level < filter.LevelFrom || rw.Level > filter.LevelTo)
      return false;

    var itemClases = filter.ItemClasses.Where(ic => ic.Checked).Select(ic => ic.Value);
    if (itemClases.FirstOrDefault() is not null)
      if (itemClases.Intersect(rw.ItemClasses.Select(ic => ic.Name)).FirstOrDefault() is null)
        return false;

    var personClases = filter.PersonClasses.Where(pc => pc.Checked).Select(pc => pc.Value);
    if (personClases.FirstOrDefault() is not null)
      if (personClases.Intersect(rw.PersonClasses.Select(pc => pc.Name)).FirstOrDefault() is null)
        return false;

    var runes = filter.Runes.Where(r => r.Checked).Select(r => r.Value);
    if (runes.FirstOrDefault() is not null)
      if (!rw.Runes.All(r => runes.Contains(r.Name)))
        return false;
    
    var sockets = filter.SocketCount.Where(sc => sc.Checked).Select(sc => sc.Value);
    if (sockets.Count() > 0)
      if (!sockets.Contains(rw.Runes.Length))
        return false; 

    return true;
  }

  void printFilter() {
    Console.WriteLine(System.Text.Json.JsonSerializer.Serialize(filter, new System.Text.Json.JsonSerializerOptions{WriteIndented = true}));
  }

  class Filter
  {
    public string Name = "";
    public int LevelFrom = 2;
    public int LevelTo = 255;

    public FilterCheckedItem<string>[] Runes = new FilterCheckedItem<string>[0];

    public FilterCheckedItem<int>[] SocketCount = new FilterCheckedItem<int>[0];
    public FilterCheckedItem<string>[] ItemClasses = new FilterCheckedItem<string>[0];
    public FilterCheckedItem<string>[] PersonClasses = new FilterCheckedItem<string>[0];
  }

  class FilterCheckedItem<T>
  {
    public bool Checked;
    public T Value;
  }
}