@page "/test"
@using System
@using Microsoft.AspNetCore.Components.Web.Virtualization;

<MatAccordion>
  <Virtualize Items="@items" OverscanCount="4">
    <MatExpansionPanel>
      <MatExpansionPanelSummary>
        <MatBlazor.MatExpansionPanelHeader>
        @context;
        </MatBlazor.MatExpansionPanelHeader>
      </MatExpansionPanelSummary>
      <MatExpansionPanelDetails>
        details
      </MatExpansionPanelDetails>
    </MatExpansionPanel>
  </Virtualize>
</MatAccordion>

@code
{
  static int count = 10;
  static int length = 50;
  int[] items = Enumerable.Range(1, 1000).ToArray();

  void f() {
    
  }

  ComponentBase container;
}