<MatThemeProvider Theme="@theme">
    <MatToastContainer />

    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>

</MatThemeProvider>

@code
{
    MatTheme theme = new MatTheme()
    {
    @* Primary = "#5d2f91",
        Background = "#fafafa",
        Surface = "#ffffff",
        Secondary = "#ff0000",
        OnPrimary = "#ffff00",
        OnSecondary = "#00ff00",
        OnSurface = "#00ffff" *@

    };

}